<div class="member" id="mark-{{ member.intern_id }}">
    <div class="member__avatar">{{ member.person_name|first|upper }}</div>
    <div class="member__body">
        <span class="member__name">{{ member.person_name }}</span>
    </div>
    <span class="badge {% if member.mark.status == 'present' %}badge--green{% elif member.mark.status == 'late' %}badge--yellow{% elif member.mark.status == 'excused' %}badge--blue{% elif member.mark.status == 'absent' %}badge--red{% else %}badge--gray{% endif %}">
        {% if member.mark %}{{ member.mark.get_status_display }}{% else %}Не отмечен{% endif %}
    </span>
</div>
